<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IHO-ASU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FB7C5781E4AAA5900B88166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FB7C58F1E4AAA5A00B88166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FB7C59A1E4AAA5A00B88166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
